/* SignUp.css */
.network {
  width: 100%;
  max-width: 600px;
  min-height: 700px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo img {
  width: 300px;
  height: 100px;
  margin-right: 10px;
}

button {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.SignUpButton {
  background-color: rgb(15, 15, 180);
  color: #fff;
}

.SignInButton {
  background-color:  #2b8ff9;;
  color: #ffffff;
}